@import 'variables';

.button {
	padding: 20px 30px;
	text-decoration: none;
	transition: transform 250ms, background-color 250ms;
	&:hover {
		cursor: pointer;
		transform: translateY(-4px);
	}
}

.button--primary {
	background-color: $light-green;
	color: #fff;
	border: 2px solid $light-green;
	&:hover {
		background-color: $light-green-hover;
	}
}

.button--ghost {
	border: 2px solid #fff;
	color: #fff;
	&:hover {
		background-color: rgba( 250, 250, 250, 0.25);
	}
}

.page-header {
	background-color: $blue-gray;
	padding: 4rem 5%;
	h1 {
		color: #fff;
		max-width: 1140px;
		margin: 0 auto;
	}
}

.basic-page-content-wrapper {
	padding: 100px 5%;
}

.basic-page-content {
	max-width: 840px;
	margin: 0 auto;
	img {
		max-width: 100%;
		height: auto;
		display: block;
		margin-bottom: 20px;
	}
	img + .caption {
		margin-top: -20px;
	}
}

.caption {
  padding: 10px;
  font-size: .875;
  background-color: #eee;
  margin: 0;
}

.highlight {
	position: absolute;
	top: -100px;
	left: 0;
	width: 30px;
	transition: transform 200ms, opacity 200ms ease-in;
	margin-left: -32px;
	opacity: 1;
	&::before {
		content: url("../img/anchor-dark.svg");
		position: absolute;
		left: 0;
		top: 0;
		width: 30px;
	}
}
.highlight.reset {
	opacity: 0;
}
.highlight-alt {
	position: absolute;
	top: -100px;
	left: 0;
	width: 30px;
	transition: transform 200ms, opacity 200ms ease-in;
	margin-left: -32px;
	opacity: 1;
	&::before {
		content: url("../img/anchor_1.svg");
		position: absolute;
		left: 0;
		top: 0;
		width: 30px;
	}
}
.highlight-alt.reset {
	opacity: 0;
}
