html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  background-color: #fff;  //fallback
}

a {
  display: inline-block;
  text-decoration-skip: ink;
}

body {
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
}

.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
  &:focus {
    background-color: #fff;
    left: auto;
    top: auto;
    width: auto;
    height: auto;
    overflow: auto;
    padding: 0.5em 1em;
    text-align: center;
    font-size: 1.2em;
    z-index: 999;
  }
}