@import 'variables';

.site-header {
	position: absolute;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 8;
	-webkit-backface-visibility: hidden;
	&--subpage {
		background-color: $blue;
		padding: 20px 0;
		position: static;
		min-height: 81px;
	}
}

.main-navigation {
	color: #fff;
	padding: 0 5%;
	display: flex;
	display: -webkit-flex;
	justify-content: flex-end;
	-webkit-justify-content: flex-end; 
	ul {
		padding: 0;
		margin: 0;
	}
	li {
		display: inline-block;
		margin: 10px 20px;
		padding: 10px 0;
	}
	a {
		color: #fff;
		text-decoration: none;
		font-size: 1.25em;
		font-weight: 400;
		font-family: 'Lora', serif;
	}
}

.hamburger-navigation {
	ul {
		padding: 0;
	}
	li {
		list-style: none;
		margin: 10px 20px;
	}
	a {
		color: #333;
		text-decoration: none;
		font-size: 2.5rem;
		font-family: 'Lora', serif;
		display: inline-block;
		line-height: 1.3;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

@keyframes spinReverse {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.ship-helm {
	display: none;
	width: 120px;
	height: 120px;
	position: absolute;
	top: 20px;
	right: 5%;
	z-index: 10;
	transition: transform 150ms;
	animation: spinReverse 1s ease-in-out forwards;
	&.reveal {
		animation: spin 1s ease-in-out forwards;
	}
}

.sidenav {
	display: none;
  height: 100%;
  position: fixed;
  z-index: 9;
  width: 100%;
  top: 0;
  right: -15px;
  transform: translate3d(100%, 0, 0);
  transition: all 1s ease-in-out 0s;
  max-width: 600px;
  overflow-y: scroll;
  background-image: url('../svg/sail_1.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  -webkit-backface-visibility: hidden;

}

.sidenav-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

.sidenav-open {
  transform: translateX(0);
}

@media (max-width: 780px) {
	.main-navigation {
		display: none;
	}
	.octopus-chunk {
		-moz-transform: scale(-1, 1);
		-webkit-transform: scale(-1, 1);
		-o-transform: scale(-1, 1);
		-ms-transform: scale(-1, 1);
		transform: scale(-1, 1);
		left: 0;
	}
	.ship-helm {
		display: block;
	}
	.sidenav {
		display: block;
	}
}

.hero {
	min-height: 100vh;
	width: 100%;
	background-color: #466372;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	.hero__callout {
		padding: 100px 5% 60px;
		position: relative;
		z-index: 2;
		flex-shrink: 0;
		color: #fff;
		width: 100%;
		p{
			animation-delay: 500ms;
			animation-duration: 1s;
		}
		.button-wrapper {
			animation-delay: 700ms;
			animation-duration: 1s;
		}
		.button {
			margin-right: 1rem;
			margin-bottom: 20px;
			font-size: 1.25rem;
			min-width: 200px;
			text-align: center;
		}
	}
}

@keyframes legSwingOne {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(5deg);
	}
	50% {
		transform: rotate(0);
	}
	75%{
		transform: rotate(5deg);
	}
	100% {
		transform: rotate(0);
	}
}

@keyframes legMove {
	0% {
		transform: translateX(0) rotate(0);
	}
	25% {
		transform: translateX(0) rotate(-1deg);
	}
	50% {
		transform: translateX(-4px) rotate(0);
	}
	75% {
		transform: translateX(0) rotate(-1deg);
	}
	100% {
		transform: translateX(0) rotate(0);
	}
}

@keyframes headMove {
	0% {
		transform: rotate(0);
	}
	25% {
		transform: rotate(-5deg);
	}
	50% {
		transform: rotate(0);
	}
	75%{
		transform: rotate(-5deg);
	}
	100% {
		transform: rotate(0);
	}
}

.octopus-chunk {
	width: 800px;
	position: absolute;
	top: 0;
	right: 0;
	max-width: 60%;
}

@media (max-width: 980px) {
	.hero {
		align-items: flex-end;
		-webkit-align-items: flex-end;
	}
}

@media (max-width: 780px) {
	.octopus-chunk {
		max-width: 100%;
		width: 350px;
	}
	.hero .hero__callout {
		flex-shrink: 1;
	}
}

@media (max-width: 480px) {
	.octopus-chunk {
		width: 300px;
	}
	.hero .hero__callout .button {
		min-width: 100%;
		&:first-of-type {
			margin-top: 1rem;
		}
	}
}

#Head {
	transform-origin: 50% 55%;
	animation: 9s headMove 2s infinite;
}

.white-shape-background {
	position: relative;
	z-index: 1;
}

.octopus-legs {
	position: relative;
	z-index: 2;
}

.leg-1 {
	transform-origin: 50% 55%;
	animation: 8s legSwingOne 3s infinite;
}

.leg-2 {
	position: relative;
	z-index: 1;
}

.leg-3 {
	transform-origin: 55% 70%;
	animation: 8s legMove 4s infinite;
}