@import 'variables';

.portfolio {
	&__category {
		padding: 50px 5%;
		a {
			color: $blue;
		}
		&--codepens {
			.portfolio__item {
				width: 100%;
			}
		}
		.portfolio__category-header {
			max-width: 1140px;
			margin: 0 auto;
		}
		&--sites {
			background-color: $blue-gray;
			color: #fff;
			margin-top: 100px;
			padding-top: 0;
			padding-bottom: 160px;
			max-width: 100%;
			.portfolio__category-header {
				position: relative;
				top: -80px;
				padding: 40px;
				border-radius: 5px;
				background-color: $dark-blue;
				display: inline-block;
				p {
					margin-bottom: 0;
				}
			}
			h2 {
				color: #fff;
				margin: 0;
			}
			.portfolio__items {
				max-width: 100%;
			}
			.portfolio__item {
				display: block;
				width: 48%;
				margin: 1%;
				border-radius: 5px;
				text-decoration: none;
				transition: transform 250ms;
				&:hover {
					transform: translateY(-4px);
				}
			}
			.portfolio__visual {
				width: 100%;
				margin-bottom: 1rem;
				box-shadow: 0px 4px 10px rgba(50,50,50,0.4);
				img {
					display: block;
					height: 26vmax;
					object-fit: cover;
				}
			}
			.portfolio__info {
				padding: 20px;
				text-align: center;
				width: 90%;
				background-color: $blue;
				margin: -60px auto 30px;
				position: relative;
				z-index: 1;
				border-radius: 5px;
				box-shadow: 0px 4px 10px rgba(50,50,50,0.4);
				h3 {
					margin: 0;
					color: #fff;
				}
			}
			&.darker-background {
				margin-top: 0;
				background-color: $blue;
				.portfolio__category-header {
					background-color: $dark-blue;
				}
				.portfolio__info {
					background-color: $light-green;
				}
			}
		}
	}
	&__items {
		display: flex;
		display: -webkit-flex;
		flex-wrap: wrap;
		max-width: 1140px;
		margin: 0 auto;
	}
	&__item {
		display: flex;
		display: -webkit-flex;
		margin: 40px 0;
		font-size: 1.25em;
		h3 {
			margin-top: 0;
		}
	}
	&__visual {
		border-radius: 5px;
				overflow: hidden;
		flex-shrink: 0;
		width: 50%;
		margin-right: 40px;
		img {
			height: 320px;
			object-fit: cover;
		}
	}
}

@media (max-width: 680px) {
	.portfolio {
		.portfolio__category--sites {
			.portfolio__item {
				width: 100%;
				img {
					height: auto;
				}
			}
		}
		.portfolio__item {
			display: block;
			.portfolio__visual {
				width: 100%;
				margin-right: 0;
				margin-bottom: 1rem;
				img {
					height: auto;
				}
			}
		}
	}
}